Let's find you some yard sales...

<%= form_tag do %>
  <div>
    <%# TODO: Dropdown of available cities; eventually depend on who's signed in %>
    <%= label_tag :city, 'City:' %>
    <%= select_tag :city, options_for_select(@cities) %>
  </div>
  <div>
    <%# TODO: Default to today's date %>
    <%= label_tag :date, 'Date:' %>
    <%= text_field_tag :date %>
  </div>
  <div>
    <%= submit_tag("Find 'em") %>
  </div>
<% end %>